@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  text-decoration: inherit;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  font-size: 16px;
}

section {
  width: 75%;
  -webkit-box-shadow: 0px 1px 3px 3px #ccc;  
  -moz-box-shadow:    0px 1px 3px 3px #ccc;
  -ms-box-shadow:     0px 1px 3px 3px #ccc;  
  box-shadow:         0px 1px 3px 3px #ccc; 
  margin: 30px auto;
  line-height: 2em;
}

#first {
  margin-bottom: 40px;
}

h1 {
  color: #477AEE;
  font-size: 2em;
  font-weight: 700;
}

h2 {
  font-size: 1.2em;
  font-weight: 700;
  display: inline;
  line-height: 3em;
}

.description {
  line-height: 1.5em;
}

.column {
  display: inline-block;
}

.icon {
  display: inline;
  vertical-align: middle;
}

.price p {
  display: inline;
  font-size: .875em;
}

.price a {
  font-size: .875em;
}

.info {
  width: 70%;
  padding: 20px;
}

.pict {
  width: 28%;
  vertical-align: top;
  padding: 20px 0 0 0;
}

.pict p {
  text-align: center;
  background-color: #00E94E;
  padding: 1px 0;
  margin-top: 2px;
  font-size: .875em;
}

.landscape {
  width: 100%;
}

a {
  color: #477AEE;
}

.line {
  border-left: 1px solid #CBCBCB;
  padding-left: 7px;
  margin-left: 5px;
}

.bottom {
  background-color: #EDECF0;
  padding: 15px 20px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label span {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  border: 2px solid #B4B4B4;
  border-radius: 4px;
  background-color: #fff;
  margin-right: 1%;
  vertical-align: middle;
}

input[type="checkbox"]:checked + label span {
  background: url("img/x.svg") center center no-repeat;
  background-size: contain;
}

label {
  font-size: 1.2em;
  font-weight: 700; 
}

@media screen and (max-width: 750px) {
  .column {
    display: block;
  }
  .info {
    width: 100%;
  }
  .pict {
    width: 75%;
    margin: -10px auto 0;
  }
  .pict p {
    margin-bottom: 15px;
  }
}